/*普通按钮样式及状态*/
.edui-default .edui-toolbar .edui-button .edui-icon,
.edui-default .edui-toolbar .edui-menubutton .edui-icon,
.edui-default .edui-toolbar .edui-splitbutton .edui-icon {
    padding: 2px;
}

.edui-default .edui-toolbar .edui-button .edui-button-wrap {
    position: relative;
}

.edui-button .edui-state-hover .edui-button-wrap,
.edui-button .edui-state-checked .edui-button-wrap,
.edui-button .edui-state-active .edui-button-wrap,
.edui-splitbutton .edui-state-hover .edui-splitbutton-body,
.edui-splitbutton .edui-state-checked .edui-splitbutton-body,
.edui-splitbutton .edui-state-active .edui-splitbutton-body,
.edui-menubutton .edui-state-hover .edui-menubutton-body,
.edui-menubutton .edui-state-checked .edui-menubutton-body,
.edui-menubutton .edui-state-active .edui-menubutton-body,
.edui-combox .edui-state-hover .edui-combox-body,
.edui-combox .edui-state-opened .edui-combox-body,
.edui-combox .edui-state-active .edui-combox-body {
    border: 1px solid #e7e7eb;
    background-color: #fff
}
.edui-default .edui-toolbar .edui-state-disabled .edui-label {
    color: #ccc;
}
.edui-default .edui-toolbar .edui-state-disabled .edui-icon {
    opacity: 0.3;
    filter: alpha(opacity = 30);
}
